header .contain {
    background-color: var(--white-color);
    gap: 30px;
    height: 100px;
}

header .contain>.logo picture {
    width: 240px;
}

header .contain>.logo picture img {
    width: 100%;
}

header .contain>.lists {
    gap: 50px;
    height: 100%;
}

header .contain>.lists>li {
    position: relative;
    color: var(--black-color);
    height: 100%;
    cursor: pointer;
}

header .contain>.lists>li .cat {
    z-index: 100;
    gap: 7px;
    position: relative;
    font-family: 'Oswald', sans-serif;
}

header .contain>.lists>li .cat::before {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    border-radius: 30px;
    width: 100%;
    transition: var(--trans);
    height: 100%;
    transform: rotateY(90deg);
    z-index: -1;
    padding: 6px 20px;
}

header .contain>.lists>li:hover .cat::before {
    transform: rotateX(0);
}

header .contain>.lists>li .cat i {
    font-size: 15px;
    transition: var(--trans);
}

header .contain>.lists>li:hover .cat i {
    transform: rotate(-180deg);
}

header .contain>.lists>li .cat a {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

header .contain>.lists>li .cat:hover,
header .contain>.lists>li:hover .cat a,
header .contain>.lists>li:hover .cat i {
    color: var(--red-color);
    cursor: pointer;
}

header .contain>.lists li .list {
    position: absolute;
    width: 150px;
    height: fit-content;
    background-color: var(--white-color);
    gap: 10px;
    border-top: 3px solid var(--red-color);
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--trans);
    padding: 20px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}

header .contain>.lists li:hover .list {
    opacity: 1;
    z-index: 1000;
    visibility: visible;
}

header .contain>.lists li .list li {
    color: var(--gray-color);
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
}

header .contain>.lists li .list li:hover {
    color: var(--black-color);
}

header .contain .details {
    gap: 30px;
    height: 100%;
}

header .contain .details div {
    transition: var(--trans);
    position: relative;
    height: 100%;
}

header .contain .details div .list {
    background-color: var(--white-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    top: 100%;
    z-index: 200;
    gap: 0;
    height: 0;
    transition: var(--trans);
}

header .contain .details div .list.active {
    height: 100% !important;
    border-top: 3px solid var(--red-color);
}

header .contain .details div .list li {
    padding: 10px;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    transition: var(--trans);
    z-index: -1;
    visibility: hidden;
}

header .contain .details div .list li.active {
    visibility: visible;
    z-index: 1;
}

header .contain .details div .list li a {
    color: transparent;
}

header .contain .details div .list li.active a {
    color: var(--gray-color) !important;
}

header .contain .details div .list li:hover {
    color: var(--black-color);
}

header .contain .details div i {
    font-size: 20px;
    transition: var(--trans);
}

header .contain .details div:hover {
    cursor: pointer;
}

header .contain .details div.active i {
    color: var(--red-color);
    cursor: pointer;
}

header .contain .details div:hover i {
    color: var(--red-color);
    cursor: pointer;
    transform: rotateY(360deg);
}

header .contain .details div:first-child:hover i {
    transform: rotateY(180deg);
}

header .contain .res {
    display: none;
}

.visible {
    opacity: 1 !important;
    height: fit-content !important;
    z-index: 1 !important;
}


/*Responsive*/

@media (max-width:1200px) {
    header .contain {
        gap: 25px;
        height: 95px;
    }
    header .contain .logo picture {
        width: 200px;
    }
    header .contain .lists {
        gap: 30px;
    }
    header .contain .lists>li .cat {
        gap: 6px;
    }
    header .contain .lists>li .cat::before {
        border-radius: 25px;
        padding: 6px 18px;
    }
    header .contain .lists>li .cat i {
        font-size: 14px;
    }
    header .contain .lists>li .cat a {
        font-size: 16px;
    }
    header .contain .lists li .list {
        width: 140px;
        gap: 10px;
        padding: 18px;
    }
    header .contain .lists li .list li {
        font-size: 15px;
    }
    header .contain .details {
        gap: 25px;
    }
    header .contain .details div i {
        font-size: 18px;
    }
}

@media (max-width:992px) {
    header .contain {
        height: 120px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        height: fit-content;
        gap: 0;
    }
    header .contain .logo {
        justify-content: center;
        padding: 20px;
    }
    header .contain .logo picture {
        width: 240px;
    }
    header .contain>.lists {
        display: none;
    }
    header .contain>.details {
        display: none;
    }
    header .contain .details div .list {
        width: 120px;
    }
    header .contain .details div .list li {
        font-size: 14px;
    }
    header .contain .res {
        display: flex;
        background-color: var(--main-color);
        padding: 0 20px;
        position: relative;
        height: 50px;
    }
    header .contain .res .lists.active {
        opacity: 1;
        z-index: 200;
        visibility: visible;
    }
    header .contain .res .lists {
        position: absolute;
        background-color: var(--white-color);
        top: 100%;
        left: 0;
        width: 100%;
        z-index: -1;
        gap: 0;
        transition: var(--trans);
        opacity: 0;
        visibility: hidden;
    }
    header .contain .res .lists li .cat {
        width: 100%;
        padding: 20px;
        background-color: var(--white-color);
        z-index: 100;
    }
    header .contain .res .lists li .cat.active,
    header .contain .res .lists li .cat:hover {
        cursor: pointer;
        background-color: var(--main-color);
    }
    header .contain .res .lists li .cat.active a,
    header .contain .res .lists li .cat:hover a {
        color: var(--red-color);
    }
    header .contain .res .lists li .cat i {
        transition: var(--trans);
    }
    header .contain .res .lists li .cat.active i,
    header .contain .res .lists li .cat:hover i {
        transform: rotate(-180deg);
        color: var(--red-color);
    }
    header .contain .res .lists .list {
        height: 0;
        opacity: 0;
        padding: 0;
        z-index: -1;
        transition: var(--trans);
        width: 100%;
    }
    header .contain .res .lists .list li {
        padding: 5px 40px;
        color: var(--black-alt-color);
        transition: var(--trans);
    }
    header .contain .res .lists .list li:hover {
        color: var(--black-color);
        cursor: pointer;
    }
    header .contain .res>i {
        font-size: 20px;
        transition: var(--trans);
    }
    header .contain .res>i:hover {
        color: var(--red-color);
        cursor: pointer;
    }
    header .contain .res .details {
        gap: 25px;
        height: 100%;
    }
    header .contain .res .details div i {
        font-size: 18px;
    }
    header .contain .res .details div .list li:hover {
        color: var(--black-color);
    }
    header .contain .res .details div .list.active {
        height: 200% !important;
    }
}

@media (max-width:768px) {
    header .contain .logo a {
        width: 200px;
    }
    header .contain .res {
        padding: 15px;
    }
    header .contain .res .lists li .cat {
        padding: 15px;
    }
    header .contain .res .lists .list li {
        padding: 5px 30px;
    }
    header .contain .res>i {
        font-size: 18px;
    }
    header .contain .res .details {
        gap: 20px;
    }
    header .contain .res .details div i {
        font-size: 16px;
    }
}

@media (max-width:640px) {
    header .contain .logo a {
        width: 180px;
    }
    header .contain .res {
        padding: 10px;
    }
    header .contain .res .lists li .cat {
        padding: 10px;
    }
    header .contain .res .lists .list li {
        padding: 5px 20px;
    }
    header .contain .res>i {
        font-size: 14px;
    }
    header .contain .res .details {
        gap: 15px;
    }
    header .contain .res .details div i {
        font-size: 14px;
    }
}