.testimonial .contain {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}

.testimonial .contain::after {
    content: "";
    position: absolute;
    right: 0;
    background-image: url("../../images/main/block-bg-shape.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
}

.testimonial .contain .slider {
    background-color: var(--gray-alt-1-color);
    height: fit-content;
    width: 100%;
    gap: 20px;
    padding: 40px;
    overflow: hidden;
}

.testimonial .contain .slider .boxes {
    background-color: var(--gray-alt-1-color);
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 20px;
    height: 180px;
}

.testimonial .contain .slider .boxes .box {
    padding: 40px;
    gap: 20px;
    position: absolute;
    width: 100%;
    transition: var(--trans);
}

.testimonial .contain .slider .boxes .box.one {
    transform: translateX(0%);
}

.testimonial .contain .slider .boxes .box.two {
    transform: translateX(-120%);
}

.testimonial .contain .slider .boxes .box.three {
    transform: translateX(-240%);
}

.testimonial .contain .slider .boxes .box article .info {
    gap: 10px;
}

.testimonial .contain .slider .boxes .box article .info .name {
    font-size: 22px;
    font-family: 800;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.testimonial .contain .slider .boxes .box article .info .job {
    color: var(--black-alt-1-color);
    font-size: 18px;
}

.testimonial .contain .slider .boxes .box .quote {
    background-color: var(--white-color);
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 50%;
    position: relative;
    border: 1px solid var(--gray-alt-color);
}

.testimonial .contain .slider .boxes .box .quote::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 1px;
    height: 100px;
    background-color: var(--gray-alt-color);
    z-index: -1;
}

.testimonial .contain .slider .boxes .box p {
    color: var(--black-alt-1-color);
    font-size: 16px;
    width: 60%;
    font-style: italic;
    line-height: 25px;
}

.testimonial .contain .slider .boxes .box article {
    gap: 20px;
}

.testimonial .contain .slider .boxes .box article picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid var(--main-color);
}

.testimonial .contain .slider .boxes .box article picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.testimonial .contain .slider .btns {
    gap: 20px;
    padding: 20px;
}

.testimonial .contain .slider .btns i {
    font-size: 16px;
    transition: var(--trans);
    z-index: 1000;
}

.testimonial .contain .slider .btns i:hover {
    cursor: pointer;
    color: var(--main-color);
}

.testimonial .contain .slider .btns i.active {
    color: var(--main-color);
    transform: rotate(45deg);
    font-size: 18px;
}

@media (max-width:1200px) {
    .testimonial .contain {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .testimonial .contain .slider {
        gap: 15px;
        padding: 30px;
    }
    .testimonial .contain .slider .boxes {
        padding: 15px;
        height: 160px;
    }
    .testimonial .contain .slider .boxes .box {
        padding: 35px;
        gap: 15px;
    }
    .testimonial .contain .slider .boxes .box article .info {
        gap: 10px;
    }
    .testimonial .contain .slider .boxes .box article .info .name {
        font-size: 19px;
    }
    .testimonial .contain .slider .boxes .box article .info .job {
        font-size: 17px;
    }
    .testimonial .contain .slider .boxes .box .quote {
        width: 45px;
        height: 45px;
        font-size: 19px;
    }
    .testimonial .contain .slider .boxes .box p {
        font-size: 15px;
        width: 50%;
        line-height: 24px;
    }
    .testimonial .contain .slider .boxes .box article {
        gap: 15px;
    }
    .testimonial .contain .slider .boxes .box article picture {
        width: 90px;
        height: 90px;
    }
    .testimonial .contain .slider .btns {
        gap: 15px;
        padding: 15px;
    }
    .testimonial .contain .slider .btns i {
        font-size: 15px;
    }
    .testimonial .contain .slider .btns i.active {
        font-size: 17px;
    }
}

@media (max-width:992px) {
    .testimonial .contain {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .testimonial .contain .slider {
        gap: 12px;
        padding: 25px;
    }
    .testimonial .contain .slider .boxes {
        padding: 12px;
        height: 280px;
    }
    .testimonial .contain .slider .boxes .box {
        padding: 30px;
        gap: 20px;
        display: grid;
        justify-content: center;
    }
    .testimonial .contain .slider .boxes .box article {
        justify-content: center;
        display: grid;
    }
    .testimonial .contain .slider .boxes .box article picture {
        left: 50%;
        transform: translateX(-50%);
        position: relative;
    }
    .testimonial .contain .slider .boxes .box article .info {
        gap: 8px;
        text-align: center;
    }
    .testimonial .contain .slider .boxes .box article .info .name {
        font-size: 18px;
    }
    .testimonial .contain .slider .boxes .box article .info .job {
        font-size: 16px;
    }
    .testimonial .contain .slider .boxes .box .quote {
        width: 40px;
        height: 40px;
        font-size: 18px;
        display: none;
    }
    .testimonial .contain .slider .boxes .box p {
        font-size: 14px;
        width: 80%;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
    }
    .testimonial .contain .slider .boxes .box article {
        gap: 12px;
    }
    .testimonial .contain .slider .boxes .box article picture {
        width: 80px;
        height: 80px;
    }
    .testimonial .contain .slider .btns {
        gap: 12px;
        padding: 12px;
    }
    .testimonial .contain .slider .btns i {
        font-size: 14px;
    }
    .testimonial .contain .slider .btns i.active {
        font-size: 16px;
    }
}

@media (max-width:768px) {
    .testimonial .contain {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .testimonial .contain .slider {
        gap: 10px;
        padding: 20px;
    }
    .testimonial .contain .slider .boxes {
        padding: 10px;
        height: 250px;
    }
    .testimonial .contain .slider .boxes .box {
        padding: 25px;
        gap: 15px;
    }
    .testimonial .contain .slider .boxes .box article .info .name {
        font-size: 16px;
    }
    .testimonial .contain .slider .boxes .box article .info .job {
        font-size: 14px;
    }
    .testimonial .contain .slider .boxes .box p {
        font-size: 12px;
        width: 100%;
    }
    .testimonial .contain .slider .boxes .box article {
        gap: 12px;
    }
    .testimonial .contain .slider .boxes .box article picture {
        width: 70px;
        height: 70px;
    }
    .testimonial .contain .slider .btns {
        gap: 10px;
        padding: 10px;
    }
    .testimonial .contain .slider .btns i {
        font-size: 12px;
    }
    .testimonial .contain .slider .btns i.active {
        font-size: 14px;
    }
}

@media (max-width:640px) {
    .testimonial .contain {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .testimonial .contain .slider {
        padding: 10px;
    }
    .testimonial .contain .slider .boxes {
        padding: 10px;
        height: 200px;
    }
    .testimonial .contain .slider .boxes .box {
        padding: 20px;
        gap: 10px;
    }
    .testimonial .contain .slider .boxes .box article .info .name {
        font-size: 14px;
    }
    .testimonial .contain .slider .boxes .box article .info .job {
        font-size: 12px;
    }
    .testimonial .contain .slider .boxes .box p {
        font-size: 10px;
        line-height: 16px;
    }
    .testimonial .contain .slider .boxes .box article {
        gap: 10px;
    }
    .testimonial .contain .slider .boxes .box article picture {
        width: 60px;
        height: 60px;
    }
    .testimonial .contain .slider .btns i {
        font-size: 10px;
    }
    .testimonial .contain .slider .btns i.active {
        font-size: 12px;
    }
}